<div class="bottom-sheet-backdrop" (click)="closeModal()"></div>
<div class="bottom-sheet-container ion-text-center ion-padding">
  <ion-button class="action" color="medium" fill="clear" (click)="closeModal()">
    <ion-icon name="close-circle-sharp" slot="icon-only"></ion-icon>
  </ion-button>
  <h2>
    {{ title }}
  </h2>

  <ion-list class="link ion-margin">
    <ion-item lines="none">
      <ion-avatar *ngIf="!parentLink?.custom" slot="start">
        <img [src]="parentLink?.image?.data?.thumbnails[6]?.url">
      </ion-avatar>
      <ion-button class="camera" *ngIf="parentLink?.custom" color="danger" size="small" slot="start" (click)="openGalleryMedia()">
        <ion-icon name="camera"></ion-icon>
        <input #inputPicture hidden type="file" accept="image/*" (change)="changePicture($event)" multiple="false" />
      </ion-button>
      <ion-input autofocus="true" [(ngModel)]="input" [placeholder]="parentLink.placeholder"></ion-input>
      <ion-button fill="clear" slot="end" color="dark">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <p [innerHTML]="parentLink.description"></p>
  <ion-button *ngIf="this.action !== 'add'" (click)="deleteLink()" color="dark" mode="ios" expand="block" fill="outline"
    size="small">
    Eliminar link
  </ion-button>
  <ion-button (click)="save()" mode="ios" expand="block" size="large">
    GUARDAR
  </ion-button>
</div>