<ion-header class="ion-no-border">
  <ion-toolbar class="with-logo" color="transparent" mode="ios">
    <ion-buttons>
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="/assets/images/logo-white.png" alt="pod">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-list *ngIf="user" class="profile ion-margin">
          <ion-item lines="none" class="ion-align-items-start">
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h2>{{ displayName }}</h2>
              <p *ngIf="user.job_position">
                {{ user.job_position }}
              </p>
              <p class="text-bold" *ngIf="user.company">
                {{ user.company }}
              </p>

              <p class="location" *ngIf="user.location">
                <ion-icon name="location-outline"></ion-icon> {{ user.location }}
              </p>

              <p *ngIf="user.bio">
                <span class="text-bold">Información sobre mí</span>
                <br>
                {{ user.bio }}
              </p>
            </ion-label>
            <ion-fab-button color="light" size="small" slot="end">
              <ion-icon color="primary" name="share-social"></ion-icon>
            </ion-fab-button>
          </ion-item>
        </ion-list>
        <ion-card class="links" *ngIf="user && user.links.length > 0">
          <ion-card-content>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="4" *ngFor="let item of links">
                  <!-- cuando hace click, agregamos el `active` -->
                  <a class="link" [href]="item.link.custom ? item.value : item.link.link + item.value" target="_blank">
                    <img
                      [src]="item.link.custom && item?.image ? item?.image?.data?.thumbnails[2].url : item.link.image?.data?.thumbnails[2].url">
                    <p>{{item.link.name}}</p>
                  </a>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-bottom-bar slot="fixed"></app-bottom-bar>
</ion-content>