<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row class="header">
      <ion-col class="ion-self-align-center ion-self-justify-center">
        <img class="logo" src="/assets/images/logo-welcome.png" alt="pod">
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col class="ion-text-center">
        <h2 class="pod-title">Bienvenido</h2>
        <p>
          Explorá nuestra app y crecé tu red de contactos al máximo.
        </p>
        <ion-button routerLink="/register" class="ion-text-uppercase" expand="block" mode="ios">
          Crear cuenta
        </ion-button>
        <ion-button routerLink="/login" class="ion-text-uppercase bold" expand="block" mode="ios" color="tertiary">
          Iniciar sesión
        </ion-button>
        <ion-button color="medium" fill="clear" mode="ios">
          ¿Olvidaste tu cuenta?
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>