<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen scrollY="false">
  <h2 class="pod-title ion-text-center">¿Cómo funciona?</h2>
  <ion-grid class="ion-text-center">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <img src="/assets/images/iphone.svg">
      </ion-col>
      <ion-col>
        <img src="/assets/images/iphone-logo.svg">
        <p>
          Acercá tu <b>pod</b> a la parte superior trasera de tu teléfono para escanear.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <img src="/assets/images/android-logo.svg">
        <p>
          Acercá tu <b>pod</b> a la mitad trasera de tu teléfono para escanear.
        </p>
      </ion-col>
      <ion-col>
        <img src="/assets/images/android.svg">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>