:host {
    ion-note {
        margin: auto;
    }

    .color {
        width: 32px;
        height: 32px;
        background: #c4c4c4;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 100%;
        overflow: hidden;
    }
}
