<ion-content fullscreen>
  <div class="illustration">
    <img class="background" src="/assets/images/podbackground.svg" >
    <img class="phone" src="/assets/images/phone.svg" >
    <img class="logo" src="/assets/images/podlogo.svg" >
  </div>
  <ion-back-button defaultHref="/" text="" icon="arrow-back"></ion-back-button>
  <div class="footer">
    <ion-label>
      <p>
        Tu <span>pod</span> se va a activar con la cuenta que iniciaste sesión
      </p>
    </ion-label>
    <ion-button class="active" (click)="scanTag()" mode="ios">
      <ion-icon slot="start" src="/assets/icons/wifi.svg"></ion-icon>

      <ion-label>
        Presioná para activar
      </ion-label>
    </ion-button>
  </div>
</ion-content>