<div class="bottom-bar">
  <ion-fab vertical="top" horizontal="center">
    <ion-fab-button routerLink="/scan-pod">
      <ion-icon src="/assets/icons/wifi.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="buttons">
    <ion-button fill="clear" color="primary" routerLink="/contact-profile/me">
      <ion-icon slot="icon-only" src="/assets/icons/ic_user.svg"></ion-icon>
    </ion-button>
    <ion-button fill="clear" routerLink="/contacts">
      <ion-icon slot="icon-only" src="/assets/icons/contact.svg"></ion-icon>
    </ion-button>
  </div>
</div>