.pod-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}
ion-button {
    font-family: Montserrat;
    font-style: normal;
}

ion-button.bold,
.text-bold {
    font-weight: bold;
}
