:host {
    ion-grid {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    ion-row.header {
        background: url("/assets/images/background-medium.png") repeat-x top center;
        background-size: contain;
        .logo {
            border-radius: 100%;
            box-shadow: 0px 35px 60px rgba(0, 0, 0, 0.24);
            display: block;
            height: 130px;
            margin: 150px auto 32px;
            width: 130px;
        }
    }
    ion-row.content {
        flex: 1;
    }
    .pod-title {
        margin-top: 0;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
        margin: 0 auto 16px;
        max-width: 266px;
    }
    ion-label {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        ion-button {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            text-decoration: underline;
        }
    }
}
