<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <img class="logo" src="/assets/images/logo-white.png" alt="pod">
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" color="dark" routerLink="/welcome">
              <ion-icon slot="start" src="/assets/icons/home.svg"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" color="dark" routerLink="/edit-profile">
              <ion-icon slot="start" src="/assets/icons/user-2.svg"></ion-icon>
              <ion-label>Editar perfil</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" color="dark">
              <ion-icon slot="start" src="/assets/icons/power-settings.svg"></ion-icon>
              <ion-label>Activá tu <b>pod</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" color="dark">
              <ion-icon slot="start" src="/assets/icons/wifi.svg"></ion-icon>
              <ion-label>Escaneá un <b>pod</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" color="dark">
              <ion-icon slot="start" src="/assets/icons/shopping-basket.svg"></ion-icon>
              <ion-label>Comprá un <b>pod</b></ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" color="dark">
              <ion-icon slot="start" src="/assets/icons/help.svg"></ion-icon>
              <ion-label>Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" color="dark">
              <ion-icon slot="start" src="/assets/icons/log-out.svg"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>