<ion-content fullscreen>
  <ion-grid class="ion-no-padding">
    <ion-row class="header">
      <ion-col class="ion-self-align-center ion-self-justify-center">
        <img class="logo" src="/assets/images/user-logo.png" alt="pod">
      </ion-col>
    </ion-row>
    <ion-row class="content">
      <ion-col class="ion-text-center">
        <h2 class="pod-title">Creá tu cuenta</h2>
        <p>
          Registrate y comenzá a utilizar nuestra aplicación
        </p>
        <form class="pod-form" [formGroup]="registerForm" (ngSubmit)="register();">
          <ion-list lines="none">
            <ion-item>
              <ion-button disabled slot="start">
                <ion-icon slot="icon-only" src="/assets/icons/ic_user.svg"></ion-icon>
              </ion-button>
              <ion-input formControlName="username" placeholder="Usuario"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button disabled slot="start">
                <ion-icon slot="icon-only" src="/assets/icons/ic_mail.svg"></ion-icon>
              </ion-button>
              <ion-input formControlName="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-button disabled slot="start">
                <ion-icon slot="icon-only" src="/assets/icons/ic_password.svg"></ion-icon>
              </ion-button>
              <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button type="submit" class="ion-text-uppercase" expand="block" mode="ios">
            Siguiente
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>