:host {
    ion-grid {
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    ion-row.header {
        background: url("/assets/images/background-medium.png") repeat-x top center;
        background-size: contain;
        .logo {
            display: block;
            height: 100px;
            margin: 150px auto 32px;
            width: 100px;
        }
    }
    ion-row.content {
        width: 100%;
    }
    .pod-title {
        margin-top: 0;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
        margin: 0 auto 16px;
        max-width: 266px;
    }
}
