<ion-header class="ion-no-border">
  <ion-toolbar class="with-logo" mode="ios">
    <ion-buttons>
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="logo" src="/assets/images/logo-dark.png" alt="pod">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- image profile -->
  <div class="image-picture">
    <div class="image">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </div>
    <ion-fab>
      <ion-fab-button color="danger" size="small">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div class="is-public">
    <ion-label>Perfil Público:</ion-label>
    <ion-toggle mode="ios" slot="end" color="success" [checked]="user?.private"></ion-toggle>
  </div>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label color="medium">
          Nombre
        </ion-label>
        <ion-input [value]="userFullName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="medium">
          Empresa
        </ion-label>
        <ion-input [value]="user?.company"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="medium">
          Cargo
        </ion-label>
        <ion-input [value]="user?.job_position"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="medium">
          Ubicación
        </ion-label>
        <ion-input class="ion-text-wrap" [value]="user?.location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="medium">
          Usuario
        </ion-label>
        <ion-input [value]="user?.username"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label color="medium">
          Sobre mi
        </ion-label>
      </ion-item>
      <ion-textarea placeholder="Escribí sobre tu historia..." [value]="user?.bio"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-label class="sharing-profile" *ngIf="user">
    <p>
      Cuando tu perfil es publico, cualquier persona podrá acceder a tu perfil entrando en este link:
    </p>
    <p>
      mypod.ar/{{user?.username}}
    </p>
  </ion-label>
  <ion-list class="links ion-margin">
    <ion-item lines="none" *ngFor="let item of user?.links">
      <ion-avatar slot="start">
        <img [src]="item.link.image?.data?.full_url">
      </ion-avatar>
      <ion-label>{{item.value}}</ion-label>
      <ion-button fill="clear" slot="end" color="dark">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-button class="add" expand="block" color="medium" mode="ios" (click)="openLinkEditor()">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Agregar link
    </ion-button>
  </ion-list>
  <app-bottom-bar slot="fixed"></app-bottom-bar>
</ion-content>