:host {
    ion-toolbar {
        display: flex;
        height: 70px;
        .logo {
            height: 50px;
            width: 50px;
        }
    }
    ion-content {
        --background: #f7f8fa;
    }
    .is-public {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 40px auto;
        ion-label {
            margin-right: 8px;
        }
        ion-toggle {
            --handle-height: 18px;
            --handle-width: 18px;
            height: 24px;
        }
    }
    ion-item {
        --padding-start: 0;
        --padding-end: 0;
        --inner-padding-end: 0;
        ion-input {
            --padding-start: 4px !important;
            --padding-end: 4px !important;
            text-align: right;
        }
    }
}
